.apikey {
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  background: rgba(142, 225, 173, 0.03);
  border: 1px solid rgba(142, 225, 173, 0.15);
  border-radius: var(--radius);
  padding: var(--padding);
}

.apikey .cta-2 {
  padding: 0.35rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: fit-content;
  font-size: 0.6rem;
  cursor: default;
}

.apikey .created-on {
  font-size: 0.55rem;
}

.apikey .created-on * {
  font-size: 0.55rem;
}


.apikey .copy-icon path{
    stroke: var(--primary);
}

.apikey .icon-dots path{
    stroke-width: 2px;
}