.topbar h1 {
  font-weight: 600;
  color: var(--primary);
}

.notification-btn {
  background-color: var(--pure-white);
  border: 1px solid var(--border-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.35rem;
  width: 2.35rem;
}

.notification-btn svg {
  height: 1.2rem;
  width: 1.2rem;
}

.profile-btn {
  background-color: var(--pure-white);
  border: 1px solid var(--border-2);
  border-radius: var(--radius);
  height: 2.35rem;
  max-width: 15rem;
  transition: var(--transition);
}

.profile-options-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.profile-options,
.topbar .sub {
  background-color: var(--pure-white);
  width: 100%;
  padding: 0.25rem;
  top: 100%;
  z-index: 10;
  left: 0;
  outline: 1px solid var(--border-2);
  border-radius: var(--radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  gap: 0.25rem;
  transition: var(--transition);
  height: 2rem;
  overflow: hidden;
  top: 0;
  visibility: hidden;
  opacity: 0;
}

.topbar .sub {
  background-color: var(--light);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.profile-options-active .profile-options,
.show-dev .sub {
  top: 100%;
  visibility: visible;
  opacity: 1;
  height: 4.35rem;
}
.show-dev .sub {
  height: 3rem;
}

.show-dev .sub * {
  font-size: 0.65rem;
}
.profile-options * {
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--border);
  border-radius: 0.25rem;
  border: 1px solid var(--border-2);
}

.profile-btn .profile-icon {
  overflow: hidden;
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.35rem;
  background-color: var(--white);
}

/* @media not all and (min-width: 640px) {
  .profile-btn{
    display: none;
  }
} */

.profile-btn span img {
  height: 1.15rem;
  width: 1.15rem;
  object-fit: contain;
}

.profile-btn svg {
  height: 1rem;
  width: 1rem;
  transition: var(--transition);
}

.profile-options-active svg {
  transform: rotate(180deg);
}

.dev-btn svg {
  transition: var(--transition);
}

@media not all and (min-width: 640px) {
  .topbar .profile-btn {
    display: none;
  }
  .profile-btn {
    height: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .profile-options-active {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .profile-btn .profile-icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  .profile-options {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    top: initial;
    bottom: 0;
  }
  .profile-options-active .profile-options {
    top: initial;
    bottom: 100%;
  }
  .profile-btn svg {
    transform: rotate(180deg);
  }
  .profile-options-active svg {
    transform: rotate(0deg);
  }
}
